<template>
  <b-navbar toggleable="md" type="dark" variant="danger">


    <b-navbar-brand>Cru At PVCC</b-navbar-brand>
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>

    <!--Collapseable portion for when the screen gets small-->
    <b-collapse is-nav id="nav_collapse">
      <b-navbar-nav>
        <b-nav-item href="#">Upcoming Events</b-nav-item>
        <b-nav-item href="#"></b-nav-item>
      </b-navbar-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <!--<b-nav-text>{{ rand_bible_verse }}</b-nav-text>-->
        <b-nav-item v-b-modal.signupmodal><i class="fa fa-user-plus"></i> Sign up</b-nav-item>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>
<script>
  // import axios from 'axios'
  export default {
    name: 'navigation',
    props: {},
    data: function () {
      return {
        bibleVerse: ''
      }
    }
/*    created: function () {
      axios.get('http://www.ourmanna.com/verses/api/get?format=text&order=random')
        .then(function (response) {
          console.log(response)
        })
        .catch(function (error) {
          console.log(error)
        })
    } */
  }
</script>
